/* General body styles */
body {
    background-image: url(./assects/netflix-octobre-contenus-2022.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login container */
.login-container {
    width: 100%;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    color: white;
}

/* Login box */
.login-box h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    color: #ddd;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.input-group input:focus {
    border-color: #e50914;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 15px;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #f40612;
}

/* Forgot password link */
.forgot-password {
    text-align: center;
    margin-top: 15px;
}

.forgot-password a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Sign-up link */
.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link p {
    font-size: 14px;
}

.signup-link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}
